name: Deploy to Amazon Lightsail

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            PROJECT_DIR="~/Appointment-Management-API"

            if [ ! -d "$PROJECT_DIR" ]; then
              git clone https://github.com/${{ github.repository }}.git $PROJECT_DIR
            fi
            
            cd $PROJECT_DIR
            git pull origin main
            
            echo "Proyecto $PROJECT_DIR actualizado correctamente."